# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

models/

# Virtual environment
venv/
.env

# VS Code
.vscode/

# macOS 系统文件
.DS_Store

# 向量库/缓存
#data/vectorstore/
*.faiss
*.pkl

# Logs
*.log

# 临时文件
*.swp
*.tmp
*.bak

/models/*

# 数据库文件
database/
database/*.db

# 数据集文件夹
dataset/

# 用户上传文件
uploads/
